html {
    font-size: 10px
}

.main {
    font-family: Lato;
    min-width: 320px;
}

.header {
    height: 3.7rem;
    position: relative;
    background-color: #34393d;
}

.header__item--mobile-display {
    padding-left: 6%;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3.7rem;
}

.navigation-list {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    width: 18.2rem;
    position: absolute;
    color: #444444;
    font-size: 1.2rem;
    line-height: 3.1rem;
    top: 100%;
    right: 0;
    background-color: #fff;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.navigation-list__item {
    border: solid 1px #e9e9e9;
    padding-left: 1.2rem;
    cursor: pointer;
}

.navigation-list__item:hover {
    background: #f5f5f5;
}

.header__item--logo-or-list {
    width: 4.1rem;
    height: 100%;
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a2025;
    cursor: pointer;
}

.header__item--logo-or-list::after {
    content: "";
    clear: both;
    display: block;
}

.fas {
    color: #fff;
}

.presentation {
    height: 17.3rem;
    background: url(img/pizza-fon.png) no-repeat center;
    background-size: cover;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.presentation__text1,
.presentation__text2 {
    font-family: Lato;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem
}

.presentation__href--new-pizza {
    cursor: pointer;
    font-family: Lato;
    color: #a6d6e0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.1rem;
    text-decoration: none;
}

.ul-prouducts__item {
    margin-bottom: 3px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120%;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    height: 7.5rem;
    line-height: 7.5rem;
}

.ul-prouducts__item::after {
    content: ">";
    background-color: #add9af;
    position: absolute;
    right: 0px;
    width: 7.5rem;
    height: 100%;
}

.ul-prouducts__item1 {
    background-image: url(img/Pizza%20delivery.png)
}

.ul-prouducts__item2 {
    background-image: url(img/UA_UX%20Salads.png)
}

.ul-prouducts__item3 {
    background-image: url(img/Desserts.png)
}

.menu__text-headline,
.menu__text-after_headline {
    color: #3f4043;
    padding-left: 1rem;
}

.menu__text-after_headline {
    color: #cbcdce;
}

.text-headline {
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 1rem;
}

.menu_block1__text-headline,
.menu_block2__text-headline {
    height: 3.7rem;
    line-height: 3.7rem;
    padding-left: 1.8rem;
}

.menu_block1__text-headline {
    background-color: #3d3e41;
    color: #acd9ad;
}

.menu_block2__text-headline {
    background-color: #add9af;
    color: #fff;
}

.icon {
    color: #add9af;
    font-size: 2.5rem;
    line-height: 4rem;
    padding-right: 2rem;
}

.section {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}

.food-headline {
    color: #3f4043;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 4rem;
}

.item-name::before {
    content: "\2022";
    font-size: 1rem;
}

.item-name {
    color: #3f4043;
    font-size: 1.35rem;
    padding: .4rem 0;
}

.item-price {
    color: #3f4043;
    font-size: 1.35rem;
    font-weight: 700;
    position: absolute;
    top: 0px;
    right: 2rem;
}

.menu-item {
    position: relative;
    height: 4rem;
    padding: 0 2rem;
}

.menu_block2__text-headline {
    margin-top: 2.9rem;
}

.footer {
    height: 5.5rem;
    background: #add9af;
    line-height: 2.75rem;
    text-align: center;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 40px;
}

@media (min-width: 640px) {
    html {
        font-size: 20px;
    }
    .ul-prouducts__item1 {
        background-image: url(img/Pizza%20delivery640.png)
    }
    .ul-prouducts__item2 {
        background-image: url(img/UA_UX%20Salads640.png)
    }
    .ul-prouducts__item3 {
        background-image: url(img/Desserts640.png)
    }
    .presentation {
        background-image: url(img/pizza-fon640.png)
    }
}

@media (min-width: 980px) {
    html {
        font-size: 30px;
    }
    .header {
        height: 3.2rem;
    }
    .header__item--mobile-display {
        display: none;
    }
    .navigation-list {
        visibility: visible;
        position: static;
        display: flex;
        flex-grow: 100%;
        background-color: inherit;
        color: #fff;
        width: 100%;
        box-shadow: none;
        font-size: .5rem;
        font-family: Montserrat;
        text-transform: uppercase;
    }
    .navigation-list__item {
        border: none;
        padding: 0;
        padding-left: 1rem;
        line-height: 3.2rem;
        cursor: pointer;
    }
    .navigation-list__item:hover {
        background: inherit;
    }
    .header__item--logo-or-list {
        float: none;
        font-size: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: transparent;
        background-image: url(img/navigation-logo.png);
        background-position: center;
        background-repeat: no-repeat;
        cursor: auto;
    }
    .ul-prouducts__item1 {
        background-image: url(img/Pizza%20delivery980.png)
    }
    .ul-prouducts__item2 {
        background-image: url(img/UA_UX%20Salads980.png)
    }
    .ul-prouducts__item3 {
        background-image: url(img/Desserts980.png)
    }
    .presentation {
        background-image: url(img/pizza-fon980.png)
    }
    .ul-prouducts {
        display: flex;
        width: 100%;
    }
    .ul-prouducts__item {
        font-size: 1.25rem;
        width: 33.333%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 11rem;
        line-height: 11rem;
    }
    .ul-prouducts__item::after {
        display: none;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
    }
    .text-headline,
    .menu__text-after_headline {
        flex-basis: 100%
    }
    .menu__text-after_headline {
        font-size: 0.7rem;
    }
    .menu_block1,
    .menu_block2 {
        box-sizing: border-box;
        flex-basis: 50%;
    }
    .menu_block2__text-headline {
        margin-top: 1rem;
    }
    .menu-item {
        font-size: .5rem;
        height: 3rem;
        padding: 0 .5rem;
    }
    .text-headline {
        font-size: 1.1rem;
    }
    .food-headline {
        font-size: 0.9rem;
        padding-left: 0.7rem;
    }
    .icon {
        padding-right: .5rem
    }
    .item-name,
    .item-price {
        font-size: .8rem;
    }
    .item-price {
        top: .6rem;
    }
    .section {
        padding-left: 0;
    }
    .footer {
        height: 3.3rem;
        display: flex;
        position: relative;
        padding-right: 1rem;
        line-height: 3.3rem;
        justify-content: flex-end;
        font-size: .6rem;
    }
    .footer::after {
        content: "";
        position: absolute;
        height: 100%;
        top: 0px;
        left: 1rem;
        display: block;
        background-image: url(img/navigation-logo.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 4rem;
    }
    .menu__text-headline {
        position: relative;
    }
    .menu__text-headline:after {
        content: "";
        position: absolute;
        top: -.5rem;
        right: 2rem;
        background-image: url(img/Menu%20logo.png);
        width: 110px;
        height: 90px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1200px) {
    .ul-prouducts__item1 {
        background-image: url(img/Pizza%20delivery1200.png)
    }
    .ul-prouducts__item2 {
        background-image: url(img/UA_UX%20Salads1200.png)
    }
    .ul-prouducts__item3 {
        background-image: url(img/Desserts1200.png)
    }
    .presentation {
        background-image: url(img/pizza-fon1200.png);
        padding: 2rem 0 0 1.2rem;
    }
    .presentation {
        height: 21.6rem;
    }
    .presentation__text1,
    .presentation__text2 {
        font-size: 2rem;
    }
    .presentation__text2 {
        padding: 1rem 0 2rem 0
    }
    .presentation__href--new-pizza {
        font-size: 1.3rem;
    }
    .ul-prouducts__item {
        width: 33.3333%;
        height: 13.3rem;
        line-height: 13.1rem;
        font-size: 1.4rem;
    }
    .text-headline {
        font-size: 1.3rem;
    }
    .item-name,
    item-price {
        font-size: .9rem;
    }
    .menu-item {
        font-size: .6rem
    }
}