.body {
    margin: 0 auto;
    font-family: Roboto;
    width: 1400px;
}
a{text-decoration: none;}

.contacs {
    box-shadow: 0px 1px 0px 0px #e2e2e2;
    background-color: #f1f3f4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding:7px 189px 6px 0
}

.phone_number
{
    margin-left: 11px;
}

.email_icon {
    margin: 0 8px 0 0;
    font-size:19px;
    color:#424242;
}

.email {
    margin-top: 2px
}

.phone_number {
    margin: 0 -1px 0 11px
}

.phone_icon,
.email,
.phone_number {
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    margin-top: 1px;
}
.phone_icon{font-size: 17px;}
.fb_icon {
    margin: 0 1px 3px 12px;
    width: 26px;
    height: 26px;
    border-radius: 3px;
color:#fff;
background-color:#0a88c1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.phone_number:after {
    content: "";
    padding: 12px 0;
    margin: 0 20px;
    border-right: solid #e2e2e2 1px;
}

.header {
    display: flex;
    padding: 38px 0 37px 190px;
}

.logo {
    margin-top: 4px;
    width: 74px;
    height: 49px;
    background-image: url(img/header-logo-icon.png)
}

.logo-block {
    display: flex;
}

.logo_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12px;
}

.business {
    color: #424242;
    font-size: 37px;
    font-weight: 700;
}

.tagline {
    font-family: Roboto;
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    margin: 2px
}

.ulnavbar {
    display: flex;
    font-family: Roboto;
    color: #424242;
    font-size: 15px;
    font-weight: 700;
    padding: 22px 0 0 203px
}

.dot {
    font-size: 7px;
    margin: 5px 18px 0 17px;
}

.linavbar:hover {
    color: #de2b24;
    cursor: pointer;
}

.button_header {
    border-radius: 4px;
    background-color: #de2b24;
    width: 171px;
    height: 36px;
display: flex;
align-items: center;
justify-content: center;
    margin: 11px 0 0px 37px;

}
.button_header__link{
    font-family: Roboto;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.presentation {
    height: 590px;
    background-image: url(img/header-banner-fon-img.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.we_providing {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin-top: 170px;
}

.social_media {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin-top: 4px;
}

.button_presentation {
   display: flex;
   align-items: center;
   justify-content: center;
    font-family: Roboto;
    background-color: #f8cd53;
    border-radius: 8px;
    width: 330px;
    height: 69px;
    margin: 32px 0 0 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 23.76px;
    font-weight: 700;
}

.section_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 566px;
    box-sizing: border-box;
    padding-top: 97px;
}

.about_us {
    color: #424242;
    font-size: 36px;
    font-weight: 700;
}

.major_services {
    color: #424242;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.major_services:after {
    content: "";
    display: block;
    width: 47px;
    height: 5px;
    background-color: #424242;
    margin: 12px 0 0 123px;
}

.services_block {
    display: flex;
    padding: 46px 246px 0 243px;
}

.facebook,
.landing,
.managment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ico_facebook {
    margin-left: 4px;
    background-image: url(img/about-us-facebook-icon.png);
    width: 83px;
    height: 79px;
}

.ico_landing {
    margin-left: 4px;
    background-image: url(img/about-us-landing-page-icon.png);
    width: 66px;
    height: 79px;
}

.ico_managment {
    margin: 6px 10px 0 0;
    background-image: url(img/about-us-management-icon.png);
    width: 84px;
    height: 81px;
}

.landing {
    margin: 0 115px 0 115px;
}

.facebook_m,
.landing_c,
.managment_ads {
    font-family: Roboto;
    color: #424242;
    font-size: 22px;
    font-weight: 700;
}

.landing_c {
    padding-top: 27px;
}

.managment_ads {
    padding-right: 10px;
    padding-top: 19px
}

.facebook_m {
    padding: 26px 7px 0 0;
}

.description {
    font-family: Roboto;
    margin-top: 10px;
    width: 226px;
    height: 58px;
    color: #5b5b5b;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 22px;
    text-align: center
}

.section_our_work {
    height: 870px;
    background-color: #de2b24;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 107px;
}

.ourwork {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}

.works_below {
    font-family: Roboto;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.works_below:after {
    content: "";
    display: block;
    width: 47px;
    height: 5px;
    background-color: #fff;
    margin: 12px 0 46px 153px;
}

.blockline {
    display: flex;
    width: 1024px;
}

.project_fb {
    width: 255px;
    height: 253px;
}

.project_landing {
    width: 257px;
    height: 253px;
}

.project_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f35e59;
    color: #ffffff;
}

.project_ico {
    margin-top: 75px;
    width: 36px;
    height: 37px;
    background-image: url(img/samolet.png)
}

.icoline2 {
    margin: 74px 12px 0 0;
}

.pn {
    font-family: Roboto;
    color: #ffffff;
    font-size: 26px;
    margin: 24px 0 2px 0;
    font-weight: 700;
}

.get_in_touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a2a2a;
    height: 490px;
    color: #ffffff;
}
.form{  display: flex;
    flex-direction: column;
    align-items: center;}
.serwices_block {
    display: flex;
    margin-right: 20px;
}

.ico {
    box-sizing: border-box;
    width: 49px;
    height: 49px;
    border-radius: 2px;
    border: solid #505050 2px;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.ico:hover {
    border-color: #de2b24;
}

.serwices_fb {
    background-image: url(img/fb%20ico.png);
    background-position: 58% 48%;
}

.serwices_twitter {
    background-image: url(img/tw%20ico.png);
    background-position: 50% 50%;
}

.serwices_g {
    background-image: url(img/g+%20ico.png);
    background-position: 48% 45%;
}

.serwices_lin {
    background-image: url(img/in%20ico.png);
    background-position: 48% 45%;
}

.get_in_touch_p {
    padding: 90px 9px 29px 0;
    font-size: 29px;
    font-weight: 700;
    line-height: 22px;
}

.subscribe {
    color: #cecece;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    margin: 36px 0 31px 0;
}

.input {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 1px;
    border: 0px;
    background-color: #515151;
    width: 683px;
    height: 54px;
    padding: 2px 0 0 20px;
    box-sizing: border-box;
}

.input::placeholder {
    color: #cecece;
}

.subscribe_b {
    font-family: Roboto;
    margin-top: 27px;
    border-radius: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: #515151;
    background-color: rgba(243, 243, 243, 0);
    width: 153px;
    height: 53px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    line-height: 22px;
}

.footer {
    background-color: #515151;
    width: 1400px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_footer {
    font-family: Roboto;
    color: #cecece;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    margin: -5px 20px 0 0;
}